---
// index.astro EN
import Layout from "../../layouts/MainEN.astro";
---

<Layout title="Erick Holgado">
  <section class="flex flex-col gap-6 items-center text-center py-5">
    <h1 class="text-6xl font-semibold mb-5 text-center">Erick Holgado</h1>
    <h2 class="text-lg text-gray-600 dark:text-gray-300 max-w-xl leading-relaxed">
      Industrial Engineer & Data Analyst<br/>
      Focused on automation, analysis, and digital transformation
    </h2>
  </section>
</Layout>
