---
// index.astro
import Layout from "../layouts/Main.astro";
---

<Layout title="Proyectos">
  <section class="flex flex-col gap-6 items-center text-center py-05">
    <h1 class="text-6xl font-semibold mb-05 text-center">Proyectos</h1>

  </section>
</Layout>
